
<div *ngIf="currentUser">
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="headcss">
    <div class="navbar-nav">
        <ul>
        <li><a class="navbar-brand" routerLink="#">IoT DEVICE MANAGEMENT SYSTEM </a></li>
        <li><a class="nav-item nav-link" routerLink="/"><img src="../assets/icons/home.png" style="width: 18px; margin-top: 0px;"> Home</a></li>
        <li><a class="nav-item nav-link" routerLink="/meta"><img src="../assets/icons/meta.png" style="width: 18px; margin-top: 0px;">MetaData</a></li>
    </ul>
        <a class="nav-item nav-link" routerLink="/map"><img src="../assets/icons/marker.png" style="width: 18px; margin-top: 0px;"> Map</a>
        <a class="nav-item nav-link" routerLink="/fault"><img src="../assets/icons/fault.webp" style="width: 18px; margin-top: 0px;"> Fault</a>
        <a class="nav-item nav-link" routerLink="/config"><img src="../assets/icons/config.png" style="width: 18px; margin-top: 0px;"> Config Service</a>
        <a class="nav-item nav-link right" (click)="logout()"><img src="../assets/icons/logout.png" style="width: 18px; margin-top: 0px;">Logout</a>
        
    </div>

</div>
</nav>
<app-dash></app-dash>
    <div class="bigbox1">
        <div class="box1"><app-tree></app-tree></div>
        <div class="box2"><router-outlet></router-outlet></div>
    </div></div>

<!-- main app container TO DISLAY THE LOGIN FORM-->
<div class="container">
    <router-outlet></router-outlet>
</div>